<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block title %}
    {{ RES1_item.name }}
{% endblock %}

{% block content %}
    <p>Номер заявления: {{ RES1_item.namber }}</p>
    <p>Дата регистрации заявления: {{ RES1_item.date_creation }}</p>
    <p>Дата окзаания услуги: {{ RES1_item.date_creation }}</p>
    <p>Фактический адрес объекта: {{ RES1_item.fact_adr }}</p>
    <p>Тип СЗЗ: {{RES1_item.Type_application }}</p>
    <p>Класс объекта: {{ RES1_item.cl }}</p>
    <p>Тип объекта: {{ RES1_item.Object  }}</p>
    <p>Наименование заявителя, представителя заявителя: {{ RES1_item.Applicant  }}</p>
    <p>Юридический адрес заявителя, представителя заявителя: {{RES1_item.adres_Applicant }}</p>
    <p>Аккредитованная организация, проводившая исследования: {{ RES1_item.Accredited_organization }}</p>
    <p>Номер аттестата аккредитации: {{ RES1_item.Accreditation_number }}</p>
    <p>Наименование проекта: {{ RES1_item.Name_obj }}</p>
    <p>Наименование проектировщика: {{ RES1_item.designer  }}</p>
    <p>Юридический адрес проектировщика: {{ RES1_item.adr  }}</p>
    <p>Номер экспертного заключения: {{ RES1_item.conclusion_number  }}</p>
    <p>Номер аттестата аккредитации экспертной организации: {{ RES1_item.accreditation }}</p>
    <p>Кем выдано экспертное заключение: {{ RES1_item.name_acr }}</p>
    <p>Юридический адрес экспертной организации: {{ RES1_item.adr1 }}</p>
    <p>Номер санитарно-эпидемиологического заключения: {{ RES1_item.SEZ1 }}</p>
    <p>Кем выдано: {{ RES1_item.SEZ2 }}</p>


    <form method="post" action="{% url 'add_basket_2' RES1_item.pk %}">
    {% csrf_token %}
    {{ form_basket }}
    <input type="submit" class="btn-success" value="Оказать услугу">
    </form>
    <a href="{% url 'list_RESH_view' %}" class="btn btn-info">Назад</a><br>
{% endblock %}



</body></html>