<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block title %}
    {{ RES1_item.name }}
{% endblock %}

{% block content %}

<table border="1" width="100%" cellpadding="10">
<tbody>
<tr>
<th align="center">Наименование строк</th>
<th align="center" >Сведения </th>
</tr>
<tr>
<td>Номер заявления</td>
<td>{{ RES1_item.namber }}</td>
</tr>
<tr>
<td>Дата регистрации заявления</td>
<td>{{ RES1_item.date_creation }}</td>
</tr>
<tr>
<td>Дата окзаания услуги</td>
<td>{{ RES1_item.date_rendering }}</td>
</tr>
<tr>
<td>Фактический адрес объекта</td>
<td>{{ RES1_item.fact_adr }}</td>
</tr>
<tr>
<td>Фактический адрес объекта</td>
<td>{{ RES1_item.fact_adr }}</td>
</tr>
<tr>
<td>Тип заявления</td>
<td>{{RES1_item.Type_application }}</td>
</tr>
</tr>
<tr>
<td>Класс объекта</td>
<td>{{ RES1_item.cl }}</td>
</tr>
<tr>
<td>Тип объекта</td>
<td>{{ RES1_item.Object  }}</td>
</tr>
<tr>
<td>Наименование заявителя, представителя заявителя</td>
<td>{{ RES1_item.Applicant  }}</td>
</tr>
<tr>
<td>Юридический адрес заявителя, представителя заявителя</td>
<td>{{RES1_item.adres_Applicant }}</td>
</tr>
<tr>
<td>Аккредитованная организация, проводившая исследования</td>
<td>{{ RES1_item.Accredited_organization }} </td>
</tr>
<tr>
<td>Номер аттестата аккредитации</td>
<td>{{ RES1_item.Accreditation_number }} </td>
</tr>
<tr>
<td>Наименование проекта</td>
<td>{{ RES1_item.Name_obj }} </td>
</tr>
<tr>
<td>Наименование проектировщика</td>
<td> {{ RES1_item.designer  }} </td>
</tr>
<tr>
<td>Юридический адрес проектировщика</td>
<td> {{ RES1_item.adr  }} </td>
</tr>
<tr>
<td>Номер экспертного заключения</td>
<td> {{ RES1_item.conclusion_number  }} </td>
</tr>
<tr>
<td>Кем выдано экспертное заключение</td>
<td> {{ RES1_item.name_acr }} </td>
</tr>
<tr>
<td>Кем выдано экспертное заключение</td>
<td> {{ RES1_item.name_acr }} </td>
</tr>
<tr>
<td>Юридический адрес экспертной организации</td>
<td> {{ RES1_item.adr1 }} </td>
</tr>
<tr>
<td>Номер санитарно-эпидемиологического заключения</td>
<td> {{ RES1_item.SEZ1 }} </td>
</tr>
<tr>
<td>Кем выдано </td>
<td> {{ RES1_item.SEZ2 }} </td>
</tr>
</tbody>
</table>


    <form method="post" action="{% url 'add_basket_2' RES1_item.pk %}">
    {% csrf_token %}
    {{ form_basket }}
    <input type="submit" class="btn-success" value="Оказать услугу">
    </form>
    <a href="{% url 'list_RESH_view' %}" class="btn btn-info">Назад</a><br>
{% endblock %}



</body></html>