<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block content %}
<h1>Результат поиска</h1>
<ul>
     {% if object_list %}
  {% for item in object_list %}
      <div>
     <li>Номер отказа:  {{ item.otk.Nomer1 }}, Номер заявления: {{ item.product1.namber }}, Причина отказа: {{ item.otk.prich }}
      </li> Заявитель: {{ item.product1.predpr }}, Дата отказа:  {{ item.otk.date_creation}}, Адрес осуществления деятельности:  {{ item.product1.fact_adr }}
 </div>
<br>
     {% endfor %}
 {% else %}
<p>Не найдено ниодного отказа <br>Попробуйте повторить запрос с другой формулировкой</p>
{% endif %}
</ul>

{% endblock %}
</body></html>