<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block content %}
<h1>Результат поиска</h1>

{% if object_list %}
  {% for item in object_list %}


<table border="1" width="100%" cellpadding="10">
<tbody>
<tr>
<th align="center"> </th>
<th align="center" >  </th>
</tr>
<tr>
<td>Номер заявления</td>
    <td> <a href="{% url 'one_Resh' item.sajav.pk %}">{{ item.sajav.namber }} </a>
    </td>
</tr>

<tr>
<td>Номер решения</td>
<td>{{ item.resh.namber }},</td>
</tr>
<tr>
<td> Заявитель, представитель заявителя </td>
<td>{{ item.sajav.Applicant }}</td>
</tr>
<tr>
<td>Дата оказаания услуги</td>
<td>{{ item.resh.date_creation}}</td>
</tr>
<tr>
<td>Тип заявления</td>
<td>{{ item.sajav.Type_application  }}</td>
</tr>
<tr>
<td>Тип объекта</td>
<td>{{ item.sajav.Object }}</td>
</tr>
<tr>
<td>Адрес осуществления деятельности</td>
<td>{{ item.sajav.fact_adr }}</td>
</tr>
<tr>
<td>Юридический адрес заявителя</td>
<td>{{ item.sajav.adres_Applicant }}</td>
</tr>
<tr>
<td>Ссылка на скачивание решения</td>
<td> <a href = "/media/{{ item.resh.photo }}" download>{{ item.resh.photo }}</a> </td>
</tr>
</tbody>

</table>

     {% endfor %}


{% else %}
    <ul>
<p>Не найдено ниодного Решения <br>Попробуйте повторить запрос с другой формулировкой</p>
{% endif %}


{% endblock %}
</body></html>