<link rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block title %}
    Добавление решения
{% endblock %}

{% block content %}
    <form  enctype="multipart/form-data" method="post" >
        {% csrf_token %}

         {{ form.as_p }}
{##}
{#            {{ form.namber }}#}
{#            {{ form.date_creation }}#}
{#            {{ form.applic }}#}
{#            <input type="file" name="photo">#}

        <table></table>
        <input class="btn btn-success" type="submit" value="Добавить решение">
    </form>
{% endblock %}
</body></html>




