
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block title %}
    Регистрация заявления
{% endblock %}
{% load widget_tweaks %}
{% block content %}

    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
                <form method="post">
                        {% csrf_token %}

    <div class="form-floating mb-4">

     {% render_field form.namber type="text" class="form-control"  placeholder="Номер заявления" %}
<label for="frmProjectInterconnect">Номер заявления</label>
</div>

        <div class="form-floating mb-4">

  {% render_field form.date_creation type="date" class="form-control"  placeholder="Дата регистрации заявления" %}
            <label for="frmProjectInterconnect">Дата регистрации заявления</label>
</div>

                    <div class="form-floating mb-4">

  {% render_field form.date_rendering type="date" class="form-control"  placeholder="Предполагаемая дата оказания государственной услуги" %}
            <label for="frmProjectInterconnect">Предполагаемая дата оказания государственной услуги</label>
</div>


                    <div class="select2-container">
                        Вид деятельности:   {{ form.vid }}
             <label class="form-control-plaintext" for="{{ form.id_for_label }}">{{ form.label }}</label>

         </div>


<div class="form-floating mb-4">



    {% render_field form.predpr class="form-control" class+="autocomplete"   type="text"  placeholder="Заявитель" %}
<label for="frmProjectInterconnect">Наименование заявителя, представителя заявителя</label>

        <script>
$(function() {
    $("#id_predpr").autocomplete({
        source: "{% url 'my_model_autocomplete' %}",
        minLength: 2,
    });
});
</script>

</div>
                                              <div class="form-floating mb-4">

  {% render_field form.dejat class="form-control"  placeholder="Наименование деятельности" %}
            <label for="frmProjectInterconnect">Наименование деятельности/причина переоформления</label>
                                                                          <script>
$(function() {
    $("#id_dejat").autocomplete({
        source: "{% url 'VIDA_autocomplete' %}",
        minLength: 2,
    });
});
</script>
</div>

                                                                 <div class="form-floating mb-4">

  {% render_field form.fact_adr class="form-control"  placeholder="Фактический адрес осуществления деятельности" %}
            <label for="frmProjectInterconnect">Фактический адрес осуществления деятельности</label>
                        <script>
$(function() {
    $("#id_fact_adr").autocomplete({
        source: "{% url 'ADRRES1_autocomplete' %}",
        minLength: 2,
    });
});
</script>
</div>

                    <div class="form-floating mb-4">

  {% render_field form.adres_Applicant class="form-control"  placeholder="Юридический адрес заявителя, представителя заявителя" %}
            <label for="frmProjectInterconnect">Юридический адрес заявителя, представителя заявителя</label>

                        <script>
$(function() {
    $("#id_adres_Applicant").autocomplete({
        source: "{% url 'AP_autocomplete' %}",
        minLength: 2,
    });
});
</script>

</div>
                                        <div class="form-floating mb-4">

                        Отдел исполнитель:   {{ form.Otd }}
             <label class="form-control-plaintext" for="{{ form.id_for_label }}">{{ form.label }}</label>
</div>
                                        <div class="form-floating mb-4">

                        Способ направления документов:   {{ form.sp }}
             <label class="form-control-plaintext" for="{{ form.id_for_label }}">{{ form.label }}</label>
</div>

                                                                                <div class="form-floating mb-4">

  {% render_field form.Prim type="text" class="form-control"  placeholder="Примечание" %}
            <label for="frmProjectInterconnect">Примечание</label>
</div>



                    <br><br>
        <input class="btn btn-success" type="submit" value="Зарегистрировать заявление">
    </form>
                                <a class="btn btn-info" href="{% url 'list_SEZ_view' %}">Назад</a>
    </div>



            </div>
        </div>
    </div>

{% endblock %}
</body></html>



